<div id="todolist-index" data-react-class="TodoLists" data-react-props="{...}"></div>
<script type="text/babel" >

	var TodoListItem = React.createClass({ 
		getInitialState: function(){
	      return {
	      	title: this.props.data.title,
        	description: this.props.data.description,
	        listid: this.props.data.listid, //need for edit/del/show
	      }
	    },
		// deleteTodoList: function(e){
		// 	var delete_url = '/todo_lists/' + this.props.listid + 'edit'
	 //      	$.ajax({
	 //        url: delete_url,
	 //        dataType: 'json',
	 //        type: 'DELETE',
	 //        data: {id: this.state.itemid},
	 //        success: function(data) {
	 //          var td = e.target.parentElement
	 //          var tr = td.parentElement
	 //          tr.remove();
	 //        }.bind(this),
	 //        error: function(xhr, status, err) {
	 //          console.error(delete_url, status, err.toString());
	 //        }.bind(this)
	 //      });
	 //    },

		render: function(){ 
			return (
					<li>
						<h2>{this.state.title}</h2>
						<p>{this.state.description}</p>
						<ul class="functions">
					      <li>List Items</li>
					      <li>Edit</li>
					      <li>Delete</li>
						</ul>
					</li> 
			); 
		} 
	});

	var TodoListItems = React.createClass({

	    render: function() {
	    	// var createList = function(list_item) { 
	    	// 	return ( 
	    	// 		//<TodoListItem>{list_item}</TodoListItem> 
	    	// 		<TodoListItem data={list_item} />
	    	// 	); 
	    	// };

	     //    return (
	     //    	//<ul>{this.props.data.map(createList)}</ul>
	     //    	<ul>{this.props.data.map(createList)}</ul>
	     //    );
	        var createList = this.props.data.map(function (list_item) {
		        return (
		          <TodoListItem data={list_item} />
		        );
		      });
		      return (
		        <div className="TodoLists">
		          {createList}
		        </div>
		      );
	    }
	});


	var TodoList = React.createClass({
		getInitialState: function(){
	      return {
	          data: [],
	          //data: [{title: "Title",  description: "Desc 1"},{title: "Title",  description: "Desc 1"}],
	          // {data: [
	          //   {title: '',  description: ''},
	          //   {title: '',  description: ''}
	          // ]}
	      }
	    },

		loadFromServer: function() {
	      $.ajax({
	        url: this.props.url,
	        dataType: 'json',
	        cache: false,
	        type: 'GET',
	        //data: {title: this.state.title, description: this.state.description},
	        success: function(data) {
	          //var temp = data[1];
	          //this.setState({title: data['title'], description: data['description']});
	          this.setState({data: data});
	        }.bind(this),
	        error: function(xhr, status, err) {
	          console.error(this.props.url, status, err.toString());
	        }.bind(this)
	      });
	    },

	    componentDidMount: function() {
	      this.loadFromServer();
	    },

	    render: function() {

	        return (
	        	<div className="TodoListBox">
	        		<p id="notice"><%= notice %></p>
	        		<h1>Todo Lists</h1>	
	        		<TodoListItems data={this.state.data} />
	        	</div>
	        );
	    }
	});


	React.render(<TodoList url="/todo_lists" />, document.getElementById('todolist-index'));
</script>

